body {
    margin: 0;
}

#game-body {
  background-image: url("./images/okumono_coolk19_.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  text-align: center;
  z-index: 1;
}


.shutter{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#1e1e1e;
  z-index:9999;
  -webkit-animation: byeShutter 2.6s forwards;
  animation: byeShutter 2.6s forwards;
}

.shutter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  width: 0;
  height: 1px;
  -webkit-animation: shutterOpen 2.6s forwards;
  animation: shutterOpen 2.6s forwards;
}

@keyframes byeShutter {
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
}
}

@keyframes shutterOpen {
  0% {
    width: 0;
    height: 5px;
  }
  50% {
    width: 100%;
    height: 5px;
  }
  90% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes contentScale {
  70% {
    -webkit-transform: perspective(800px) scale(0.9) rotateX(15deg);
            transform: perspective(800px) scale(0.9) rotateX(15deg);
  }
  100% {
    -webkit-transform: perspective(800px) scale(1) rotateX(0);
            transform: perspective(800px) scale(1) rotateX(0);
  }
}

#count-timer {
  font-size: 50px;
  margin: 50px 0 0 0;
  color: #fff;
}

.caution {
  color: #fff;
}

dialog[open] {
  animation: fade 1s ease 0s 1 normal;
}

.game-container {
  text-align: center;
}

.response-zone input[type=number]{
  width:60px;
  height:80px;
  font-size:4em;
  text-align: center;
}

.response-zone #sendbutton {
  margin-top: 15px;
  color: #fff;
  border-top: 4px solid rgb(253, 49, 90);
  border-right: 4px solid rgb(96, 8, 26);
  border-bottom: 4px solid rgb(96, 8, 26);
  border-left: 4px solid rgb(253, 49, 90);
  border-radius: 0;
  background: rgb(176, 37, 65);
  font-size: large;
} 

.response-zone #sendbutton:hover {
  color: #fff;
  border-top: 4px solid rgb(96, 8, 26);
  border-right: 4px solid rgb(253, 49, 90);
  border-bottom: 4px solid rgb(253, 49, 90);
  border-left: 4px solid rgb(96, 8, 26);
}


table {
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
}

.table-yournumber {
  width: 200px;
}

.table-hit-blow {
  width: 100px;
}

@media (min-width: 600px) {
  .game-container {
    display: flex;
  }

  .left-side {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;
  }

  .right-side {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    margin-top: 120px;
  }

  dialog {
    width: 80vw;
  }
  
}

dialog {
  width: 40vw;
}

.game-clear {
  font-size: 30px;
  font-weight: bold;
}

.answer {
  font-size: 30px;
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 50px;
}